@page "/ll"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="title HungNT145" @attributes="ImageAttr1">
    <ChildContent>
        <h1>Hello child Contenty</h1>
    </ChildContent>
</SurveyPrompt>

@code {
    public Dictionary<string, object> ImageAttr1 { get; set; } = new Dictionary<string, object>
    {
        { "src", "images/1083382.jpg" },
        { "alt", "products image for the Home component" },
        { "height", "150px" },
        { "width", "150px" },
    };
}
