@page "/invokejs"

<div class="row">
    <div class="col-md-12   mb-3">
        <h4>
            Example for calling a JS function returning void:
        </h4>
    </div>
    <div class="col-md-12 mb-3 border-1 border border-primary p-3 rounded-1">
        <button type="button" class="btn btn-info mb-2" @onclick="ShowAlertWindow">Show Alert Window</button>
    </div>
    <div class="col-md-12 mb-3 border-1 border border-primary p-3 rounded-1">
        <button type="button" class="btn btn-info mb-2" @onclick="RegisterEmail">Register Email</button>
        <div>RegisterEmail: @_registrationResult</div>
    </div>
    <div class="col-md-12 mb-3 border-1 border border-primary p-3 rounded-1">
        <button type="button" class="btn btn-info mb-2" @onclick="ExtractEmailInfo">Email Details</button>
        <div>ExtractEmailInfo: @_detailsMessage</div>
    </div>
    <div class="col-md-12 mb-3 border-1 border border-primary p-3 rounded-1">
        <div class="col-md-4 mb-2">
            <input type="text" @ref="_elRef" class="form-control" />
        </div>
        <EditForm Model="_emailDetails">
            <InputText id="dummyInputComponent" class="form-control"
            @bind-Value="@_emailDetails.Name" />
        </EditForm>
        <button type="button" @onclick="FocusAndStyleElement" class="btn btn-info">Passing HTML Reference to JS Function</button>
    </div>

    <div class="col-md-12 mb-3 border-1 border border-primary p-3 rounded-1">
        <button type="button" class="btn btn-info mb-2" @onclick="ThrowError">Throw error</button>
    </div>
</div>
