@page "/counter"
@using System.Security.Claims
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<AuthorizeView Roles="Administrator">
    <Authorized>
        <div class="text-success">The user is authorized with role Administrator</div>
        <div>Name:  The user: @context.User.FindFirst(ClaimTypes.Name).Value is authorized</div>
    </Authorized>
    <NotAuthorized>
        <div class="text-danger">The User is not authorized</div>
    </NotAuthorized>
</AuthorizeView>
<div class="vr"></div>
<AuthorizeView>
    <Authorized>
        <div class="text-success">The user is authorized</div>
        <div>Name:  The user: @context.User.FindFirst(ClaimTypes.Name).Value is authorized</div>
    </Authorized>
    <NotAuthorized>
        <div class="text-danger">The User is not authorized</div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }
    private async Task IncrementCount()
    {
        var authState = await AuthState;
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
            currentCount++;
        else
            currentCount--;
    }
}
