<h1>Learning</h1>

Welcome to Learning.

<div>Count: @CurrentCount</div>

<div>
    child: @LeaningChildContent
</div>

@*@code {
    public Dictionary<string, object> ImageAttr1 { get; set; } = new Dictionary<string, object>
    {
        { "src", "/images/1083382.jpg" },
        { "alt", "products image for the Home component" },
        { "height", "200px" },
        { "width", "200px" },
    };
}*@
